{% if is_granted('ROLE_ADMIN') %}

    <a class="btn btn-primary ajax-link pull-right" href="{{ path('product_edit', {id: item.id}) }}" data-target="#productDetail"><i class="fa fa-edit"></i> Edit</a>

{% endif %}

<div class="row">

    <div class="col-lg-8">

        <dl class="dl-horizontal">

            <dt>Name</dt>
            <dd>{{ item.name|title }}</dd>

            <dt>Item Number</dt>
            <dd>{{ item.itemNumber }}</dd>

            <dt>Manufacturer</dt>
            <dd>{{ item.manufacturer.name }}</dd>

            <dt>Type</dt>
            <dd>{{ item.type.name }}</dd>

            <dt>Description</dt>
            <dd><p>{{ item.detail.description }}</p></dd>

            <dt>Categories</dt>
            <dd><ul>{% for category in item.categories %}<li>{{ category.name }}</li>{% endfor %}</ul></dd>

        </dl>

    </div>


    <div class="col-lg-4">

        <hr>

        {% for attachment in item.attachments %}

            <img src="{{ image(attachment.url).resize(100,100) }}">

        {% endfor %}

    </div>

</div>